# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
nbperf
test_bdz
test_chm
test_chm3
test_bdz_wy
test_chm3_wy
test_chm_wy
_test_bdz
_test_Mbdz
_test_chm
_test_Mchm
_test_chm3
_test_Mchm3
_test_bdz_fnv
_test_bdz_wyhash
_test_bdz_crc
_test_chm_fnv
_test_chm_wyhash
_test_chm_crc
_test_chm3_fnv
_test_chm3_wyhash
_test_chm3_crc
_test_intchm
_test_intbdz
_test_bdz_wy
_test_chm3_wy
_test_chm_wy
_test_Mint*
_test_int*
_test_big*

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
.gdbinit

# Other
*.patch
_test_*.c
_test_*.o
_words*
_rand*
VERSION

# perf
_perf*
perf
run.log
size.log
nbperf.log
